* {
    font-family: 'BIZ UDPMincho', serif;
}

@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf")
}

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

.side {
    background-image: url(img/philipp-deus-nx9Qd5NlNSs-unsplash.jpg);
    background-size: cover;
    width: max(65%, 700px);
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    justify-content: center;
    gap: 24px;
    padding-bottom: 4rem;
}

form {
    background-color: #ffffff;
    box-shadow: 0px 4px 12px grey;
    padding: 2rem 5rem;
}

.header-text {
    line-height: 1.5rem;
    padding-right: max(5rem, 20%);
}

form {
    display: flex;
    flex-wrap: wrap;
}

form > p {
    flex: 1 0 100%;
}

form div {
    flex: 1 0 50%;
    margin: 0.5rem 0;
}

.main-header {
    padding-left: 5rem;
}

.login {
    padding-left: 5rem;
}

label,
input {
    display: block;
}

input {
    width: 70%;
    margin-top: 0.3rem;
}

button {
    height: 2rem;
    width: 9rem;
    margin-left: 5rem;
    margin-top: 0.5rem;
    background-color: #98772e;
    border-radius: 5px;
    box-shadow: .1rem .1rem .2rem grey;
    color: white;
}

a {
    color: #98772e
}

img {
    height: 10rem;
    width: auto;
}

.logo {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13%;
}

.name {
    color: white;
    font-size: 8rem;
    margin: 0;
    font-family: "Norse Bold", serif;
    position: relative;
    top: 1rem;
}

.error {
    content: "*Passwords do not match";
    border-color: red;
    border-radius: 2px;
    border-width: 2px;
    border-style: inset;
    padding: 1px 2px;
}

.error-message {
    margin: .2rem;
    font-size: 0.75rem;
    color: red;
    visibility: hidden;
}

input:focus {
    border: blue;
    box-shadow: .1rem .1rem .2rem grey;
    padding: 1px 2px;
}

.photo-cred {
    position: absolute;
    bottom: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 1rem;
}